<div class="panel">
	<div class="panel-header">
		<strong>Dashboard</strong>
	</div>
	<dl class="panel-content">
		<dt>
			<label>Previous login date:</label>
		</dt>
		<dd>
		 	<%=Date.today%>
		</dd>
		<dt>
			<label>Total assigned matters</label>
		</dt>
		<dd>
			12
		</dd>
	</dl>
	
	<div class="nested-panel">
		<%= render :partial => "/matters/index", :locals => {:matters => @recent_activity_matters, :table_title => "Recently updated matters", :choose => false} %>
	</div>

	<div class="nested-panel">
		<%= render :partial => "/matters/index", :locals => {:matters => @upcoming_deadlines_matters, :table_title => "Matters with upcoming deadlines", :choose => false} %>
	</div>	
</div>		
