<form style="display:inline-block">
  <ul style="list-style: none; margin: 5px; padding: 5px;box-sizing:border-box;" id="search-box">
    <li style="box-sizing:border-box;" data-index="0">
      <table style="width:100%; height:auto;">
        <tbody>
        <tr>
          <td style="width:auto">
            <select>
              <option></option>
              <option>(</option>
            </select>
          </td>
          <td style="width:auto">
            <select style="width:auto;" class="column-rows">
              <% @columns.each do |c| %>
                  <option data-type="<%= c.column_type %>" value="<%= c.column_name %>"><%= t(c.column_name) %></option>
              <% end %>
            </select>
          </td>
          <td style="width:auto">
            <select style="" name="conjunction">
              <option value="AND">And</option>
              <option value="OR">Or</option>
            </select>
          </td>
          <td style="width:auto">
            <div class="values range invisible">
              <input type="text" style="width:94" name="range_from">

              <div style="width:4px;display:inline-block;"></div>
              <input type="text" style="width:94" name="range_to">
            </div>
            <div class="values regular">
              <input type="text" style="width:200" name="regular">
            </div>
          </td>
          <td style="width:auto">
            <select>
              <option></option>
              <option>)</option>
            </select>
          </td>
          <td style="width:auto">
            Match case: <input type="checkbox" name="match_case" style="width:auto;"/>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="6">
            <a href="#" style="width:auto;" id="add">Add</a>
            <a href="#" style="width:auto;" id="clear">Clear</a>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <button style="clear:both; display:block; margin-top:5px;" id="search" type="submit">Search</button>
          </td>
        </tr>
        </tfoot>
      </table>
    </li>
  </ul>
</form>
<script>
    $('#add').click(function() {
        $clone = $('#search-box li:first-child table tbody tr:first-child').clone()
        $clone.css('padding-top', '5px').css('margin-top', '5px').css('border-top', '1px solid #d3d3d3')
        $clone.attr('data-index', $('#search-box li:not(:last-child)').length)
        $target = $('#search-box li:last-child table tbody tr:last-child')
        $target.after($clone)
        return false;
    })

    $('#clear').click(function() {
        $('#search-box li table tbody tr:not(:first-child)').detach()
        return false
    })

    $('.column-rows').live('change', function() {
        $this = $(this)
        $selected = $this.find(':selected')
        if ($selected.length > 0) {
            if ($selected.attr('data-type') == 'col-date') {
                $this.parents('tr').find('.range').removeClass('invisible')
                $this.parents('tr').find('.regular').addClass('invisible')
            } else {
                $this.parents('tr').find('.regular').removeClass('invisible')
                $this.parents('tr').find('.range').addClass('invisible')
            }
        }
    })

    $('#search').click(function() {
        return false;
    })
</script>