<dl class="panel-content">
	<dt>
		<label> Name </label>
	</dt>
	<dd>
		<%= @official_fee_type.name %>&nbsp;
	</dd>
	<dt>
		<label> Description </label>
	</dt>
	<dd>
		<%= @official_fee_type.description %>&nbsp;
	</dd>
</dl>