<div class="panel">
	<div class="panel-header">
		<strong>Function information</strong>
	</div>
	<%= render :partial => "shared/flash", :locals => {:flash => flash}%>	
	<dl class="panel-content">
		<dt>
			<label>
				Name
			</label>
		</dt>
		<dd>
			<%=@function.name%>&nbsp;
		</dd>		
		<dt>
			<label>
				Description
			</label>
		</dt>
		<dd>
			<%=@function.description%>&nbsp;
		</dd>		
	</dl>
</div>