<div class="panel">
	<div class="panel-header">
		<strong>Edit invoice</strong>
	</div>
	<%= render :partial => "shared/flash", 	:locals => {:flash 		=> flash}%>
	<%= render :partial => "shared/error", 	:locals => {:obj 		=> @document}%>	
	<%= render :partial => "form", 			:locals => {:invoice 	=> @document} %>
</div>
