<div class="linked-matter">
    <% opposite = item.opposite_matter(@matter)%>
    <%= link_to opposite.document.registration_number, matter_path(opposite) %>
    <div class="unlink">
        <%= link_to 'Unlink', unlink_matter_path(@matter, :from => opposite.id) %>
    </div>
</div>