<div class="table" style="display:table">
	<div style="display:table-row-group">
		<div style="display:table-row">
			<div style="display:table-cell">
				Rēķina nosūtītājs
			</div>
			<div style="display:table-cell">
				Pētersona patents
			</div>
			<div style="display:table-cell">
				Banka
			</div>
			<div style="display:table-cell">
				Swedbank
			</div>
		</div>
		<div style="display:table-row">
			<div style="display:table-cell">
				Reģ nr.
			</div>
			<div style="display:table-cell">
				412343245890
			</div>
			<div style="display:table-cell">
				Bankas kods
			</div>
			<div style="display:table-cell">
				HABALV22
			</div>
		</div>
		<div style="display:table-row">
			<div style="display:table-cell">
				PVN reģ nr
			</div>
			<div style="display:table-cell">
				lv123123123k123432
			</div>
			<div style="display:table-cell">
				Konta numurs
			</div>
			<div style="display:table-cell">
				LV86HABA93814937498
			</div>
		</div>
	</div>
	<div  style="display:table-row-group; height:1em;">
		&nbsp;
	</div>
	<div  style="display:table-row-group">
		<div style="display:table-row">
			<div style="display:table-cell">
				Rēķina nosūtītājs
			</div>
			<div style="display:table-cell">
				Pētersona patents
			</div>
			<div style="display:table-cell">
				Banka
			</div>
			<div style="display:table-cell">
				Swedbank
			</div>
		</div>
		<div style="display:table-row">
			<div style="display:table-cell">
				Reģ nr.
			</div>
			<div style="display:table-cell">
				412343245890
			</div>
			<div style="display:table-cell">
				Bankas kods
			</div>
			<div style="display:table-cell">
				HABALV22
			</div>
		</div>
		<div style="display:table-row">
			<div style="display:table-cell">
				PVN reģ nr
			</div>
			<div style="display:table-cell">
				lv123123123k123432
			</div>
			<div style="display:table-cell">
				Konta numurs
			</div>
			<div style="display:table-cell">
				LV86HABA93814937498
			</div>
		</div>
		<div style="display:table-row"></div>
	</div>
</div>