<div class="table" style="display:table">
	<div style="display:table-row-group">
		<%= render :partial => "operating_party_bank_info"%>
	</div>
	<div  style="display:table-row-group; height:1em;">
		&nbsp;
	</div>
	<div  style="display:table-row-group">
		<%= render :partial => "customer_bank_info"%>
	</div>
</div>