<tr>
	<th class="col-number" colspan="3">Ar PVN neapliekamā summa</td>
	<th class="col-number"></td>
	<th class="col-number"><%=@invoice.amount_without_vat%></td>
</tr>
<tr>
	<th class="col-number" colspan="3">Ar PVN 22% apliekamā summa%</td>
	<th class="col-number"></td>
	<th class="col-number"><%=@invoice.amount_with_vat%></td>
</tr>
<tr>
	<th class="col-number" colspan="3">PVN 22%</td>
	<th class="col-number"></td>
	<th class="col-number"><%=@invoice.amount_vat%></td>
</tr>
<tr>
	<th class="col-number" colspan="3"><strong>Kopā summa apmaksai</strong></td>
	<th class="col-number"><strong>LVL</strong></td>
	<th class="col-number"><strong><%=@invoice.total_amount_with_vat%></strong></td>
</tr>