<table class="no-highlight">
	<thead>
		<tr>
			<th class="col-text">Aprēķinātās izmaksas</th>
			<th class="col-text">Mērv.</th>
			<th class="col-number">Cena par 1 vien.</th>
			<th class="col-number">Skaits</th>
			<th class="col-number">Summa bez PVN</th>
		</tr>
	</thead>
	<tfoot>
		<%= render :partial => "invoice_sum"%>		
	</tfoot>
	<tbody>
		<%= render :partial => "line", :collection => @invoice.invoice_lines, :as => :invoice_line%>
	</tbody>
</table>