<p>
	* Ar PVN neapliekamie pakalpojumi
</p>
<p>
	Lūdzam  veikt pārskaitījumu <%=@invoice.payment_term%> dienu laikā.<br/>	
	<span style="text-decoration: underline">Maksājuma uzdevumā obligāti norādiet mūsu rēķina numuru!</span>
</p>

