<p>
	<div style="width:50%; display:inline-block">
		R카g훮, <%= @invoice.invoice_date.to_s(:show)%>
		<br/>
		M큰su ref.: <%= @invoice.our_ref%>
	</div>
	<div style="width:40%; display:inline-block">
		J큰su ref.:<%= @invoice.your_ref%>
	</div>
</p>
