<ul>
	<li>
		<%= fields.label :code, t('currency.fields.code') %>
		<%= fields.text_field :code %>			
	</li>
	<li>
		<%= fields.label :name, t('currency.fields.name') %>
		<%= fields.text_field :name %>			
	</li>
</ul>