<div class="panel">
	<div class="panel-header">
		<strong>Create currency</strong>
	</div>
	<%= render :partial => "shared/flash", 	:locals => {:flash 		=> flash}%>
	<%= render :partial => "shared/error", 	:locals => {:obj 		=> @currency}%>	
	<%= render :partial => "form", 			:locals => {:contact 	=> @currency} %>
</div>
