<!DOCTYPE html>
<html>
	<head>
		<title><%=t('mail.activation.title')%></title>
	</head>
	<body style="height:auto;">
		Hi.
		
		System has created a user for you in PetPat application.<br/>
		
		Click this link to proceed with activation:
		<%=link_to account_path(:key => @user.activation_key, :only_path => false, :host => @host), account_path(:key => @user.activation_key, :only_path => false, :host => @host)%>
        <br/>
		If your link does not open in a browser, copy it to the browsers address bar.<br/>
		
		br
		Admin
	</body>
</html>
