<div class="panel">
	<div class="panel-header">
		<strong><%=t('invoice_line_preset.list')%></strong>
	</div>		
	<%= render :partial => "index", :locals => {:invoice_line_presets => @invoice_line_presets, :param_name => "invoice_line_presets"} %>
	<div class="panel-footer controls">
		<%= link_to t('button.create'), new_invoice_line_preset_path %>
	</div>		
</div>