dl.accordion {
	margin:0px;
	width:100%;
}
dl.accordion dt {
	margin: 0;
}
dl.accordion dt:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,181,10,0.5)), to(rgba(255,181,10,1)));
}
dl.accordion dt a {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	display: block;
}
dl.accordion dd {
	margin: 0;
	height: 0;
	overflow: hidden;
	-webkit-transition: height 1s ease;
}
dl.accordion dd:target {
	height: auto;
}
@media ( -webkit-transition) {
	dl.accordion dd:target {
		height: auto;
	}
}
dl.accordion {
	padding-bottom:1em;
}
dl.accordion dt {
	padding:0px;
}
dl.accordion dt a {
	padding: 5px 20px;
} 