.controls a, .panel-header a {text-decoration:none;}

.column.elastic form .panel-footer {background:none;}
.center-form 	 	 .controls input,
.column.elastic 	 .show.controls a,
.column.elastic 	 .panel-footer.controls a,
.column.elastic form .panel-footer.controls a, 
.column.elastic form .panel-footer.controls input[type="submit"], 
.column.elastic form .panel-footer.controls input[type="file"],
.column.elastic form .panel-footer.controls button {
	text-decoration:none;
	padding:5px 10px;
	min-width: 5em;
	border-radius:5px;	
	border: #fff 1px solid;	
	color:#000;
	font-weight:normal;
	display:block;
	float:left;
	text-align: center;
	font-size:1.2em;
	vertical-align: middle;
	margin:0;
}

.center-form 	 	 .controls input:hover,
.column.elastic 	 .controls a:hover,
.column.elastic form .controls a:hover,
.column.elastic form .controls input[type="file"]:hover,  
.column.elastic form .controls input[type="submit"]:hover, 
.column.elastic form .controls button:hover {
	background: rgb(229,229,229);
	border: rgb(219,219,219) 1px inset;	
}

.center-form 	 	 .controls input:active,
.column.elastic 	 .controls a:active,
.column.elastic form .controls a:active, 
.column.elastic form .controls input[type="file"]:active,
.column.elastic form .controls input[type="submit"]:active, 
.column.elastic form .controls button:active {
	background: rgb(198,198,198);
	border: rgb(188,188,188) 1px inset;
	color: #fff;	
}

.center-form 	 	 .controls,
.column.elastic .controls {
	margin: 0px 0px 10px 20px;
	float:left;
	clear:left;
}

.status-controls {clear:left;}
.status-control {display:inline-block; float:none;}

.status-controls .status-control .panel-footer.controls {
	clear:left;
	float:none;
	display:inline-block;
	margin: 5px 5px;
}
.column.elastic .status-controls .status-control .panel-footer.controls input[type="submit"] {
	clear:left;
	float:none;
	display:inline-block;
}