form label {color:black;}
form ul li{clear:left;}
form ul {list-style:none;}
form ul li, form ul li *:not(.error), {line-height:1.4em; font-size:1em; margin:1px; padding:1px;}
form ul li label {float:left;min-width:10em; padding-top:4px;}
form ul li label:after{content:": "}
form ul li>*:not(ul):not(label):not(select), form ul li>span.error>*:not(label):not(select) {
	width:15em;
}
form ul ul {margin:0 0 5px -10px;padding:0 10px 10px 10px;}
form ul ul {
	border-radius:5px;
	width:auto;	
}

form ul ul:hover {
	background-color:rgb(244,244,244);
	box-shadow: 1px 1px rgb(224,224,224);
}

form ul li h3, form ul li.big-fields h3 {margin:0px;padding:5px 25px; color:#000000; font-size: small;}
form li.form-column {float:left; clear:none;}
form li.form-column {margin-right: 2em;}
.field-num {width:6em; text-align: right;}
.field-num.percent {width:4em;}
.field-num.percent+.post-field{color:#000000;}
/*form .big-field label {min-width:7.8em;}
form .big-field input {width:12em;}
form .big-field label, form .big-field input {font-size:1.3em;}*/


form ul li textarea[cols="40"] {
	height:5em; resize:none;
	font-family: "Tahoma", Georgia, Serif;
	font-size:1em
}
form li span.error>label {color:red;}
form li span.error+span.error>* {border-color:red;border-style:solid;border-width: 1px;}

form input[type="file"], form input[type="submit"], button {
	border:none;
	background:none;
	cursor:pointer;
}

form select.wide {
	width: 15em;
}

.show {margin-left:0px;}
.show .inline-form {
	clear:left;
}
.show .inline-form input[type="text"], .show .inline-form .panel-footer.controls {
	float:left;
	clear:none;
}

form label+div.value {color:#000000; line-height:1.4em;}

.center-form input {
	width: 12em;
}

.acts-as-field {line-height: 2em;}
