<div class="panel-footer controls" style="float:left; clear:none;">
	<% task.flow_state.possible_change_states(direction).each do |state|%>
	<%= link_to t(state.try(direction).try(direction.to_s.sub('_step','_name')))
	,flow_matter_task_path( task.matter, task, :status => state.try(direction).id) unless state.try(direction).nil?%>
	<%end%>
</div>