<div class="panel">
	<%=form_for @document, :url => add_matter_matters_path(@customer) do |m_f|%>
		<div class="panel-header">
				<strong>Choose a matter</strong>
		</div>	
		<div id="matters">
			<%= render :partial => "/matters/index", :locals => {:column_names => 'matters', :matters => @matters, :table_title => "Matter list", :choose => true, :fields => m_f, :param_name => 'choose_matters_page'} %>
			<div class="buttons">
				<span class="button"><%= m_f.submit "Add" %></span>
			</div>
		</div>			
	<%end%>
</div>