<div class="panel">
	<div class="panel-header">
		<strong>Contact person list</strong>
	</div>
	<%= render :partial => "/index", :locals => {:contact_persons => @contact_persons, :table_title => "Contact person list", :choose => false} %>
</div>