<div class="panel">
	<div class="panel-header">
		<strong>Edit user</strong>
	</div>
	<%= render :partial => "shared/flash", 	:locals => {:flash 	=> flash}%>
	<%= render :partial => "shared/error", 	:locals => {:obj 	=> @party}%>
	<%= render :partial => "form", 			:locals => {:user 	=> @party} %>
</div>
