<title><%=default_title%></title>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all">
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag(:all) %>
<%= csrf_meta_tag %>
