<div class="panel">
	<div class="panel-header">
		<strong>Customer list</strong>
	</div>		
	<%= render :partial => "index", :locals => {:customers => @customers, :param_name => "customers_page"} %>
</div>