<div class="panel">
	<%= render :partial => "index", :locals => {:customers => @customers, :table_title => "Customers", :param_name => "customers_page"} %>
	<%= link_to "New customer", new_customer_path(:customer_type => 'AGENT') %>
</div>