<dl class="panel-content">
	<dt>
		<label> <%=t('contact.fields.type')%> </label>
	</dt>
	<dd>
		<%= @contact.contact_type.name%>&nbsp;
	</dd>
	<dt>
		<label> <%=t('contact.fields.value')%></label>
	</dt>
	<dd>
		<%= @contact.contact_value%>&nbsp;
	</dd>
</dl>