<dl class="panel-content">
	<dt>
		<label> Type </label>
	</dt>
	<dd>
		<%= @contact.contact_type.name%>&nbsp;
	</dd>
	<dt>
		<label> Contact value </label>
	</dt>
	<dd>
		<%= @contact.contact_value%>&nbsp;
	</dd>
</dl>