<div class="panel">
	<div class="panel-header">
		<strong>Edit contact</strong>
	</div>
	<%= render :partial => "shared/flash", :locals => {:flash => flash}%>
	<%= render :partial => "shared/error", :locals => {:obj => @contact}%>	
	<div class="panel-content">
		<%= render :partial => "form", :locals => {:contact => @contact} %>
	</div>
</div>
