<div class="panel">
	<div class="panel-header">
		<strong>Contact list</strong>
	</div>	
	<%= render :partial => "index", :locals => {:contacts => @contacts, :table_title => "Contacts", :param_name => "contacts_page"} %>
</div>