<div class="panel">
	<div class="panel-header">
		<strong><%=t('contact.create')%></strong>
	</div>
	<%= render :partial => "shared/flash", 	:locals => {:flash 		=> flash}%>
	<%= render :partial => "shared/error", 	:locals => {:obj 		=> @contact}%>	
	<%= render :partial => "form", 			:locals => {:contact 	=> @contact, :path_elements => @path_elements<<@contact} %>
</div>
