<dl class="panel-content">
	<dt>
		<label><%=t("attorney_fee_type.fields.name")%></label>
	</dt>
	<dd>
		<%= @attorney_fee_type.name %>&nbsp;
	</dd>
	<dt>
		<label><%=t("attorney_fee_type.fields.description")%></label>
	</dt>
	<dd>
		<%= @attorney_fee_type.description %>&nbsp;
	</dd>
</dl>