<div class="panel">
	<div class="panel-header">
		<a href="#roles">
			<strong>Role list</strong>
		</a>
	</div>	
	<%= render :partial => "/roles/index", :locals => {:roles => @roles, :table_title => "Role list", :choose => false, :param_name => "page"} %>	
	<%= link_to "New role", new_role_path %>
</div>