<div class="panel">
	<div class="panel-header">
		<strong>Create role</strong>
	</div>
	<%= render :partial => "shared/flash", 	:locals => {:flash 	=> flash}%>
	<%= render :partial => "shared/error", 	:locals => {:obj 	=> @role}%>	
	<%= render :partial => "form", 			:locals => {:role 	=> @role} %>
</div>
