<div class="panel">
	<div class="panel-header">
		<strong>Edit exchange rate</strong>
	</div>
	<%= render :partial => "shared/flash", :locals => {:flash => flash}%>
	<%= render :partial => "shared/error", :locals => {:obj => @exchange_rate}%>	
	<div class="panel-content">
		<%= render :partial => "form", :locals => {:exchange_rate => @exchange_rate} %>
	</div>
</div>
