<%= fields.hidden_field :opposite_party_agent_id %>
<%= fields.label :opposite_party_agent_name, t('matter.legal.fields.opposite_party_agent') %>
<%= fields.text_field :opposite_party_agent_name %>
<script>
	$(document).ready(function(){
		$('#document_matter_attributes_legal_attributes_opposite_party_agent_name').autocomplete({
			source: '/customers/applicant_find_ajax',
			minLength: 2,
			select: function( event, ui ) {
                $(this).after("<span style='color:black; padding-left: 5px;'>VAT number:  "+ ui.item.vat_number +"</span>")
				$('#document_matter_attributes_legal_attributes_opposite_party_agent_id').attr('value', ui.item.id)
			}
		});
	})
</script>